<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ss.sdk.mapper.DeviceMapper">

    <!--查询所有设备-->
    <select id="findAllDevice" resultType="com.ss.sdk.model.Device">
        SELECT cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state, device_type AS deviceType FROM sface_device WHERE
        is_delete = 1
    </select>
    <!--查询所有海康设备-->
    <select id="findAllHivDevice" resultType="com.ss.sdk.model.Device">
        SELECT device_id AS deviceId, cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state FROM sface_device WHERE
        is_delete = 1 AND device_type = 1
    </select>

    <!--查询海康门禁机设备-->
    <select id="findHivAccessDevice" resultType="com.ss.sdk.model.Device">
        SELECT device_id AS deviceId, cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state FROM sface_device WHERE
        is_delete = 1 AND device_type = 1 AND device_type_detail = 101
    </select>

    <!--查询海康门禁主机设备-->
    <select id="findHivHostDevice" resultType="com.ss.sdk.model.Device">
        SELECT device_id AS deviceId, cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state FROM sface_device WHERE
        is_delete = 1 AND device_type = 1 AND device_type_detail = 102
    </select>

    <!--查询海康摄像机设备-->
    <select id="findHivVideoDevice" resultType="com.ss.sdk.model.Device">
        SELECT device_id AS deviceId, cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state FROM sface_device WHERE
        is_delete = 1 AND device_type = 1 AND device_type_detail = 103
    </select>

    <!--查询海康摄像机体温检测设备-->
    <select id="findHivVideoTempDevice" resultType="com.ss.sdk.model.Device">
        SELECT device_id AS deviceId, cplat_device_id AS cplatDeviceId, ip, port, user_name AS userName, password, state FROM sface_device WHERE
        is_delete = 1 AND device_type = 1 AND device_type_detail = 103 AND device_function = 2
    </select>

    <select id="findDevice" parameterType="com.ss.sdk.model.Issue" resultType="com.ss.sdk.model.Device">
        SELECT
        cplat_device_id AS cplatDeviceId, device_id AS deviceId, ip, port, user_name AS userName, password, state, device_type AS deviceType, device_function AS deviceFunction
        FROM
        sface_device
        WHERE
        is_delete = 1 AND cplat_device_id = #{productCode}
    </select>

    <update id="updateDevice" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";" close="">
            update sface_device
            <set>
                state = #{item.state}
            </set>
            where id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <select id="findWhiteList" resultType="com.ss.sdk.model.WhiteList">
        SELECT people_id AS peopleId, device_id AS productCode FROM sface_white_list
    </select>

    <insert id="insertIssue" parameterType="com.ss.sdk.model.Issue">
        INSERT INTO sface_issue (people_id, device_id, people_face_path, issue_time, issueStatus, fail_reason)
        VALUES (#{peopleId}, #{productCode}, #{peopleFacePath}, #{issueTime}, #{issueStatus}, #{errorMessage} )
    </insert>

    <insert id="insertWhiteList" parameterType="com.ss.sdk.model.Issue">
        INSERT INTO sface_white_list (people_id, device_id)
        VALUES (#{peopleId}, #{productCode})
    </insert>

    <select id="findIssueList" resultType="com.ss.sdk.model.Issue">
        SELECT id, people_id AS peopleId, device_id AS productCode, issueStatus, fail_reason AS errorMessage FROM sface_issue WHERE return_result = 0
    </select>

    <update id="updateIssue" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" separator=";" close="">
            update sface_issue
            <set>
                return_result = 1
            </set>
            where id = #{item.id,jdbcType=INTEGER}
        </foreach>
    </update>

    <delete id="delWhiteList" parameterType="com.ss.sdk.model.Issue">
        DELETE FROM sface_white_list WHERE people_id = #{peopleId} AND device_id = #{productCode}
    </delete>
    <!--新增抓拍信息-->
    <insert id="insertCapture" parameterType="com.ss.sdk.model.Capture">
        INSERT INTO sface_capture (people_id, device_id, opendoor_mode, result_code, capture_url, compare_date, recog_score, temp, temp_state)
        VALUES (#{peopleId}, #{deviceId}, #{opendoorMode}, #{resultCode}, #{captureUrl}, #{compareDate}, #{recogScore}, #{temp}, #{tempState})
    </insert>

    <select id="findCommonCaptureList" resultType="com.ss.sdk.model.Capture">
        SELECT
            c.people_id AS peopleId,
            d.cplat_device_id AS productCode,
            opendoor_mode AS opendoorMode,
            result_code AS resultCode,
            capture_url AS captureUrl,
            compare_date AS compareDate,
            recog_score as recogScore,
            temp AS temp,
            temp_state AS tempState
        FROM sface_capture c
        LEFT JOIN sface_device d ON c.device_id = d.device_id
        LEFT JOIN sface_capture_time ct ON 1=1
        WHERE  <![CDATA[c.compare_date > ct.common_time]]> AND c.opendoor_mode != 2
    </select>

    <select id="findRemoteCaptureList" resultType="com.ss.sdk.model.Capture">
        SELECT
        c.people_id AS peopleId,
        d.cplat_device_id AS productCode,
        opendoor_mode AS opendoorMode,
        result_code AS resultCode,
        capture_url AS captureUrl,
        compare_date AS compareDate
        FROM sface_capture c
        LEFT JOIN sface_device d ON c.device_id = d.device_id
        LEFT JOIN sface_capture_time ct ON 1=1
        WHERE  <![CDATA[c.compare_date > ct.remote_time]]> AND c.opendoor_mode = 2
    </select>

    <select id="findCommonMaxTime" resultType="java.lang.String">
        SELECT MAX(compare_date) FROM sface_capture WHERE opendoor_mode != 2
    </select>

    <select id="findRemoteMaxTime" resultType="java.lang.String">
        SELECT MAX(compare_date) FROM sface_capture WHERE opendoor_mode = 2
    </select>

    <update id="updateCommonTime" parameterType="java.lang.String">
        UPDATE sface_capture_time SET common_time = #{updateTime}
    </update>

    <update id="updateRemoteTime" parameterType="java.lang.String">
        UPDATE sface_capture_time SET remote_time = #{updateTime}
    </update>

    <select id="getPersonPermission" parameterType="com.ss.sdk.model.GuanpinRequest" resultType="java.lang.Integer">
        SELECT count(*) FROM sface_capture WHERE
        opendoor_mode = 1 AND people_id = #{idcardNum} AND device_id = #{deviceKey}
        AND result_code = 1 AND temp_state = 0
        <![CDATA[AND compare_date <= #{time}]]> <![CDATA[AND compare_date >= (#{time} - 2000)]]>
    </select>

</mapper>